/*

<div class="-text-blue pt-3 display-4">Text: Blue</div>

*/

$primary: #00776b;
$secondary: #f38a59;
$enable-gradients: true;
$enable-rounded: true;
$enable-shadows: true;
$td-enable-google-fonts: true;
$google_font_name: "Poppins";
$google_font_family: "Poppins:300,300i,400,400i,700,700i";

